body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #0c1c34;
    color: white;
}

header {
    text-align: center;
    padding: 30px;
}

header p {
    color: #94a3b8;
}

.filters {
    text-align: center;
    margin-bottom: 20px;
}

.filters button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.filters button:hover {
    background: #daaa1a;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
}

.art-card {
    background: #020617;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 10px 25px rgba(37, 163, 217, 0.5);
}

.art-card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(239, 102, 11, 0.89);
}

.art-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.art-card h3 {
    padding: 10px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #020617;
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    text-align: center;
}

.modal-content img {
    width: 100%;
    border-radius: 10px;
}

.close {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    color: #64748b;
}
